<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            display: inline-block;
        }
    </style>
</head>
<body>
    <div>
        <button onclick="location.href='/customers.html'">customer</button>
        <button onclick="location.href='/licenses.html'">licenses</button>
        <button onclick="location.href='/contacts.html'">contacts</button>
        <button onclick="location.href='/owners.html'">owners</button>
        <button onclick="location.href='/software.html'">software</button>
        <button onclick="location.href='/licenseshistory.html'">licenseshistory</button>
    </div>
</body>
</html>