<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>



        function Get() {
            fetch('http://localhost:3000/api/licenseshistory', {
                method: 'GET', mode: 'no-cors',
                headers: { 'Content-Type': 'application/json', 'Accept': 'application/json' }
            })
                .then(response => response.json())
                .then(pdata => {
                    result.innerHTML = '';
                    console.log('pdata', pdata);
                    if (pdata.err != undefined) {
                        let erm = document.getElementById('err')
                        erm.innerHTML = pdata.err
                    } else {
                        console.log(pdata);
                        let content = '<table class="table"><thead><tr>' +
                            '      <th scope="col">Id</th>\n' +
                            '      <th scope="col">LicenseId</th>\n' +
                            '      <th scope="col">Title</th>\n' +
                            '      <th scope="col">PaymentDate</th>\n' +
                            '      <th scope="col">ExpiryDate</th>\n' +
                            '      <th scope="col">SoftwareId</th>\n' +
                            '      <th scope="col">CustomerId</th>\n' +
                            '    </tr></thead><tbody>\n';
                        for (let i = 0; i < pdata.length; i++) {
                            content += '<tr><td>' + pdata[i]['Id'] + '</td><td>' + pdata[i]['LicenseId'] + '</td><td>' + pdata[i]['Title'] + '</td><td>' + pdata[i]['PaymentDate'] + '</td><td>' + pdata[i]['ExpiryDate'] + '</td><td>' + pdata[i]['SoftwareId'] + '</td><td>' + pdata[i]['CustomerId'] + '</td></tr>';
                        }
                        result.innerHTML = content + '</tbody></table>';
                    }
                });
        }

    </script>

</head>
<body>
    <div>
        <div class="">
            <p class="" id="err"></p>
            <form style="margin-top: 2%; "></form>
            <div class="" style="margin:auto; padding-bottom: 1%;">
                <button onclick="Get()" class="">История</button>
            </div>

        </div>

        <p class="" id="result"></p>


</body>
</html>